<div id="index_genre">
<h1>What Genre are you?</h1>
<% @genres.each do |genre| %>
 <div id="index_genre_row">   
    <div id="index_genre_name">
      <%= link_to genre.name, genre, :class=>"genre_link" %>
    </div>
    <div id="index_genre_admin_update_links">
    <% if admin_user %>
      <%= link_to 'Edit', edit_genre_path(genre), :class=>"genre_edit_link" %> | 
      <%= link_to 'Destroy', genre, :class=> "genre_destroy_link", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br>
    <% end %>
  </div>
    <% end %>
  <% if admin_user %>
    <div id="genre_new_link">
      <br>
      <br>
      <%= link_to 'New Genre', new_genre_path %>
    </div>
  <% end %>
</div>

